/* body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} */

#root {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.split {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
}

.split img {
    width: 50%;
    max-width: 600px;
    height: auto;
}

.login-form {
    width: 50%;
    max-width: 400px;
    padding: 20px;
    text-align: left;
}

.login-form p {
    font-size: 18px;
    margin-bottom: 10px;
}

.login-form .icon-deck {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.login-form .icon-deck a {
    display: inline-block;
    background-color: #0d6efd;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.login-form .icon-deck img {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
}

.login-form .or {
    margin: 10px 0;
    color: #6c757d;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button {
    width: 30%;
    padding: 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
}

.login-form a {
    display: block;
    margin-top: 10px;
    color: #0d6efd;
    text-decoration: underline;
}

footer {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    background-color: #0d6efd;
    height: 10vh;
    align-items: center;
}

footer p {
    color: white;
    margin: 0;
}

footer .icon-deck {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

footer img {
    width: 20px;
    height: 20px;
    padding: 0 10px;
    margin-right: 0;
    filter: brightness(0) invert(1);
}

.login-form>a {
    display: inline;
    color: #DC3545;
    font-weight: bold;
}