.pageWrapper {
  font-family: 'Inter', sans-serif;
  background-color: #FAFAFB;
  min-height: 100vh;
  padding-bottom: 60px;
}

.customNavbar {
  background-color: #fff;
  height: 83px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05);
}

.postsContainer {
  margin: 100px 200px 0 200px;
  max-width: 1200px;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}

.pageTitle {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  display: inline-block;
  margin-left: 250px;
}

.addButton {
  width: 162px;
  height: 40px;
  color: #fff;
  background-color: #65558F;
  border-radius: 100px;
  border: none;
  font-size: 14px;
  float: right;
  transition: background-color 0.2s;
}
.addButton:hover {
  background-color: #56407d;
}

.tableWrapper {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tableWrapper th,
.tableWrapper td {
  padding: 14px 20px;
  border-bottom: 1px solid #E4E7EB;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.pagination .pageLink {
  color: #667085;
  border: 1px solid #D1D5DB;
  padding: 6px 12px;
  border-radius: 4px;
  margin-left: 5px;
  text-decoration: none;
}
.pagination .pageLink.active {
  background-color: #6B46C1;
  color: white;
  border-color: #6B46C1;
}
